# =========================
# DATABASE NEON
# =========================
DATABASE_URL=postgresql://username:password@host/database?sslmode=require


# =========================
# JWT AUTHENTICATION
# =========================
SECRET_KEY=ganti_dengan_secret_key_yang_panjang_dan_acak
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440


# =========================
# FRONTEND / CORS
# =========================
CORS_ORIGINS=http://localhost:5173


# =========================
# SUPABASE STORAGE
# =========================
SUPABASE_URL=https://project-id.supabase.co
SUPABASE_KEY=supabase_service_role_key
SUPABASE_BUCKET=sawitvision-images


# =========================
# EMAIL SMTP
# =========================
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=example@gmail.com
SMTP_PASSWORD=gmail_app_password
SMTP_FROM_NAME=SawitVision AI
SMTP_FROM_EMAIL=example@gmail.com


# =========================
# APPLICATION SETTINGS
# =========================
APP_STORAGE_LIMIT_GB=1
MIN_SAVE_CONFIDENCE=70


# =========================
# MODEL
# =========================
MODEL_PATH=models/efficientnetv2s_sawit.keras
CLASS_NAMES_PATH=models/class_names.json


# =========================
# FRONTEND URL FOR EMAIL
# =========================
FRONTEND_URL=http://localhost:5173